<div class="form"> 

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :Name, size: 30, placeholder: "name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, size: 30, autofocus: true, autocomplete: "email", placeholder: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, size: 30, autocomplete: "new-password", placeholder: "password - #{@minimum_password_length} characters minimum" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, size: 30, autocomplete: "new-password", placeholder: "repeat password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'butonn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>