<div class="flex mt-2">
        <img src=<%= @user.Photo %> >
        <div class="flex justify-between flex1">
            <div class="user"><%= @user.Name %></div>
            <div class="number">Number of posts: <%= @user.PostsCounter %></div>
        </div>
</div>
<div>
<% @posts.each do |post| %>
    <div class="mt-2">
        <%= link_to post.Title, "/users/#{@user.id}/posts/#{post.id}" %>
        <div> <%= post.Text %> </div>
        <div class="align-left"> Comments: <%= post.CommentsCounter %>  Likes: <%= post.LikesCounter %> </div>
        <div>
            <%comments = Comment.where(post_id: post.id) %>
            <% comments.each do |comment| %>
              <div> <% user = User.find_by(id: comment.user_id).Name %> </div>
              <div> <%= user %>:  <%= comment.Text %> </div>
            <% end %>
        </div>
    </div>
<% end %>
</div>