<div>
    <div class="flex justify-between mt-2">
        <div> <%= @post.Title %> by <%= @user.Name %></div>
        <div class="align-left"> Comments: <%= @post.CommentsCounter %>  Likes: <%= @post.LikesCounter %> </div>
    </div>
    <div class="mt-2"> <%= @post.Text %> </div>
    <div class="mt-2">
        <% @post.comments.each do |comment| %>
          <div> <% user = comment.user.Name %> </div>
          <div> <%= user %>:  <%= comment.Text %> </div>
        <% end %>
    </div>

    <%= form_with model: @comment, url: user_post_comments_path(@user.id, @post.id) do |form| %>
        <%= form.text_area :Text %>
        <%= form.submit "Add Comment" %>
    <% end %>
  
    <div>
        <%= form_with model: @like, url: user_post_likes_path(@user.id, @post.id) do |form| %>
            <%= form.submit "Like Post"%>
        <% end %>
    </div>
</div>